[Unit]
Description=FreeSWITCH
Documentation=
After=After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/freeswitch/freeswitch.pid
#Environment=PATH=/usr/bin:/usr/local/bin/
ExecStartPre=/bin/mkdir -p /var/run/freeswitch/
ExecStartPre=/bin/chown -R freeswitch:daemon /var/run/freeswitch/
ExecStart=/usr/local/bin/freeswitch -u freeswitch -g daemon -ncwait
User=root
Group=daemon
Restart=always
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
;LimitSTACK=240
LimitRTPRIO=infinity
LimitRTTIME=7000000
IOSchedulingClass=realtime
IOSchedulingPriority=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=89
[Install]
WantedBy=multi-user.target
